# Fichiers système
.DS_Store

# Répertoire virtuel
venv/
env_apprez/

# Fichiers de compilation Python
*.pyc

# Fichiers d'environnement
.env

# Fichiers de dépendances Python
__pycache__/

# Image
Logo.png