/* styles.css */

/* Mise en page générale */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navigation */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #c0392b;
  }
  
  /* En-tête */
  header {
    background-color: #fefefe;
    padding: 10px 0;
    border-bottom: 2px solid #333;
  }
  
  header nav {
    text-align: right;
  }
  
  /* Pied de page */
  footer {
    color: #333;
    margin: 400px 0 50px 0;
    text-align: center;
  }

  /* images */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 170px; /* Définissez la taille de votre logo */
  height: auto; /* Cela garantit que la hauteur est ajustée proportionnellement à la largeur */
}

/* Connexion / Inscription */
.form-container {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  margin-top: 10px;
}

label {
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}