<!-- templates/index.html -->

{% extends "base.html" %}

{% block title %}
  À propos
{% endblock %}

{% block content %}
  <div class="text-center">
    <h2>À propos de nous</h2>
    <br>
    <p>Ceci est la page à propos de notre application.</p>
    <p>On peut y mettre des infos sur notre projet ainsi que sur nous même.</p>
    <p>Et pourquoi pas mettre un petit truc du genre : Contact avec un lien GitHub vers notre projet + un mail banal qui sert juste de prise de contact.</p>
    <br>
    <div>
      <a href="https://github.com/MPappia/Voyage_Aff-air/tree/main" class="logo-no-border"><img src="{{ url_for('static', filename='img/logogit.svg') }}" alt="GitHub Logo" width="30" height="30"></a>
      <a href="mailto:mail_bidon_lol@voyageaff_air.fr" class="logo-no-border"><img src="{{ url_for('static', filename='img/emaillogo.svg') }}" alt="Enveloppe Logo" width="30" height="30"></a>
    </div>
  </div>
{% endblock %}
