<!-- templates/index.html -->

{% extends "base.html" %}

{% block title %}
  À propos
{% endblock %}

{% block content %}
  <div class="text-center">
    <h1>A propos de l'application</h1>
    <br>
    <p>Savez-vous donc où se trouvait  Charles de Gaulle le 7 juillet 1960 ? Ou François Fillon le 8 février 2008 ?</p>
    <p>Grâce à notre application, vous pouvez naviguer dans les données du Ministère de la Culture, et retrouver les déplacements des Présidents de la République et des Premiers ministres de 1945 à 2008.</p>
    <p>N'hésitez pas à jouer avec les filtres de notre graphique, ou bien rendez-vous directement sur la carte pour avoir une vue d'ensemble.</p>
    <p>Et laissez-vos commentaires :)</p>
    <br>
    <h2>À propos de nous</h2>
    <br>
    <p>Cette application a été développée dans le cadre d'un projet de groupe pour le master <strong><i>Technologies Numériques Appliquées à l'Histoire</i></strong> de <i><b>l'École Nationale des Chartes</b></i>.</p>
    <p>Deuxième année de master TNAH, millésime 2023-2024.</p>
    <p>L'équipe Voyage d'Aff'Air est composée de : <br>
      <strong>Maxime Rolland</strong>, <strong>Jie Fan</strong>, <strong>Leo Trotin</strong> et <strong>Elliot Fabert</strong>.</p>
    <p>Notre application respecte le principe de l'open source, vous trouverez donc ci-dessous un accès au code source de l'application Flask produite par l'équipe <i>Voyage d'Aff'air</i>, ainsi qu'un mail afin de nous contacter si vous avez la moindre question.</p>
    <br>
    <div>
      <a href="https://github.com/MPappia/Voyage_Aff-air/tree/main" target="_blank" class="logo-no-border logo-link"><img src="{{ url_for('static', filename='img/logogit.svg') }}" alt="GitHub Logo" width="30" height="30"></a>
      <a href="mailto:mail_bidon_lol@voyageaff_air.fr" class="logo-no-border logo-link"><img src="{{ url_for('static', filename='img/emaillogo.svg') }}" alt="Enveloppe Logo" width="30" height="30"></a>
    </div>
  </div>
{% endblock %}
