<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mon Application{% endblock %}</title>
  <!-- Inclure ici les liens vers les fichiers CSS, les bibliothèques JavaScript, etc. -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <!-- En-tête de votre site -->
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Accueil</a></li>
        <li><a href="{{ url_for('login') }}">Connexion</a></li>
        <li><a href="{{ url_for('register') }}">Inscription</a></li>
        <li><a class="nav-link" href="#">{{ current_user.username }}</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Deconnexion</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main role="main">
    <!-- Contenu principal de chaque page -->
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Pied de page de votre site -->
    <p>&copy; {{ year }} Voyage d'Aff'air. All rights reserved.</p>
  </footer>

  <!-- Inclure ici les liens vers les bibliothèques JavaScript, scripts personnalisés, etc. -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
