<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mon Application{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <!-- En-tête de votre site -->
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Accueil</a></li>
        <li><a href="{{ url_for('tableau') }}">Tableau</a></li>
        <li><a href="{{ url_for('graphique') }}">Graphique</a></li>
        <li><a href="{{ url_for('visualisation') }}">Visualisation</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout') }}">Deconnexion</a></li>
        <li><a class="nav-link" href="#">{{ current_user.pseudo_user }}</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Connexion</a></li>
        <li><a href="{{ url_for('register') }}">Inscription</a></li>
        {% endif %}
        <li><a href="{{ url_for('about') }}">À propos</a></li>
      </ul>
    </nav>
    <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo" class="petitlogo">
  </header>

  <main role="main">
    <!-- Contenu principal de chaque page -->
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Pied de page de votre site -->
    <p>&copy; {{ year }} Voyage d'Aff'air. All rights reserved.</p>
  </footer>

</body>
</html>
