<!-- templates/index.html -->

{% extends "base.html" %}

{% block title %}
  Accueil - Mon Application
{% endblock %}

{% block content %}
  <div class="text-center"> <!-- Ajout de la classe text-center pour centrer le contenu horizontalement -->
    <h1>Bienvenue sur notre application !</h1>
    <div class="container">
      <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="Logo" class="logo">
    </div>
    <br>
    <p> Cette application a pour but de partager notre travail de datavizualisation concernant les déplacements des présidents et premiers ministres français de 1945 à nos jours, ainsi qu'une carte des déplacements des POTUS afin de pouvoir faire une comparaison.</p>
    <p> Un tableau des données brutes est à votre disposition dans l'onglet du même nom.</p>
    <br>
    <p> L'Équipe Voyage d'Aff'air vous souhaite un agréable voyage à bord de notre application.</p>
  </div>
{% endblock %}
