<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
  <h2>Connexion</h2>
  <form method="post" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email_user.label(class="form-control-label") }}
      {{ form.email_user(class="form-control form-control-lg", placeholder="Adresse email") }}
    </div>
    <div class="form-group">
      {{ form.password_user.label(class="form-control-label") }}
      {{ form.password_user(class="form-control form-control-lg", placeholder="Mot de passe") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary btn-lg", value="Se connecter") }}
    </div>
  </form>
{% endblock %}
