{% extends "base.html" %}

{% block content %}
  <h2>Connexion</h2>
  <div class="form-container">
    <form method="post" action="{{ url_for('login') }}" class="login-form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" id="pseudo" name="pseudo" class="form-control form-control-lg" placeholder="Pseudo" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control form-control-lg" placeholder="email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Mot de passe" required>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg" value="Se connecter">
      </div>
    </form>
  </div>
{% endblock %}
