<!-- templates/register.html -->

{% extends "base.html" %}

{% block content %}
  <h2 class="registh2">Inscription</h2>
  <div class="form-container">
    <form method="post" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.pseudo_user.label(class="form-control-label") }}
        {{ form.pseudo_user(class="form-control form-control-lg", placeholder="Pseudo") }}
      </div>
      <div class="form-group">
        {{ form.email_user.label(class="form-control-label") }}
        {{ form.email_user(class="form-control form-control-lg", placeholder="Email") }}
      </div>
      <div class="form-group">
        {{ form.password_user.label(class="form-control-label") }}
        {{ form.password_user(class="form-control form-control-lg", placeholder="Mot de passe") }}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="form-control-label") }}
        {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirmer le mot de passe") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary btn-lg", value="S'inscrire") }}
      </div>
    </form>
  </div>
{% endblock %}
