<!-- templates/register.html -->

{% extends "base.html" %}

{% block content %}
  <h2>Inscription</h2>
  <form method="post" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {{ form.name(class="form-control form-control-lg", placeholder="Nom") }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control form-control-lg", placeholder="Adresse email") }}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}
      {{ form.password(class="form-control form-control-lg", placeholder="Mot de passe") }}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label(class="form-control-label") }}
      {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirmer le mot de passe") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-primary btn-lg", value="S'inscrire") }}
    </div>
  </form>
{% endblock %}
