{% extends "base.html" %}

{% block title %}Visualisation{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Visualisation des données</h2>
  <br>
  <p>Page de visualisation des données. Vous y trouverez deux cartes ainsi qu'un graphique mettant en valeur les données travaillées par l'équipe Voyage d'Aff'air.</p>
  <p>N'hesitez pas à nous laisser un petit commentaire pour nous dire ce que vous en pensez ! :) </p>
  <br>
  <br>
<h3>Carte des visites des Présidents de la République française 
  <br>et Premiers Ministres par pays</h3>
  <br>
<div class="dropdown">
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" onclick="selectLeader('Président de la République')">Président de la République</a>
      <a class="dropdown-item" href="#" onclick="selectLeader('Premier ministre')">Premier ministre</a>
    </div>
  </div>
  <div id="heatmap-container" class="heatmap centered-container">
    {{ heatmap2_html | safe }}
  </div>
  <br>
  <h3>Carte des visites des Présidents des États-Unis</h3>
  <div id="heatmap-container-2" class="heatmap centered-container">
    {{ heatmap_html | safe }}
  </div>
<br>
<div>
  <h3>Graphique des voyages des Présidents de la république et des premiers ministres français.</h3>
  <div class="text-center">
    <iframe src="http://localhost:8050" width="80%" height="600" frameborder="0"></iframe>
  </div>
</div>
<br>
<br>
<h3>Commentaires</h3>
<div class="comment-section">
  {% for comment in comments %}
    <div class="comment">
      <p>{{ comment.content }}</p>
      <p>Par : {{ comment.pseudo }}</p> <!-- Accès au pseudo de l'utilisateur qui a posté le commentaire -->
    </div>
  {% endfor %}
</div>
  <br>
  <br>
  <div class="comment-form">
    <h3>Ajouter un commentaire</h3>
    <form id="comment-form" method="post" action="{{ url_for('visualisation') }}" data-authenticated="{{ current_user.is_authenticated }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.content.label }}
        {{ form.content(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>


<script>
  document.getElementById('comment-form').addEventListener('submit', function(event) {
    var isAuthenticated = this.dataset.authenticated === 'True';
    if (!isAuthenticated) {
      event.preventDefault();
      alert('Veuillez vous connecter pour ajouter un commentaire.');
    }
  });
  function selectLeader(leader) {
      window.location.href = "{{ url_for('visualisation') }}?leader=" + leader;
    };
</script>
{% endblock %}