<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Lieu de départ</th>
                <th>Lieu d'arrivée</th>
                <th>Moyen de transport</th>
                <th>Pays visité</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in data.iterrows() %}
                <tr>
                    <td>{{ row['Date'] }}</td>
                    <td>{{ row['Lieu de départ'] }}</td>
                    <td>{{ row['Lieu d\'arrivée'] }}</td>
                    <td>{{ row['Moyen de transport'] }}</td>
                    <td>{{ row['Pays visité'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div>
        {% if page > 1 %}
            <a href="{{ url_for('visualisation', page=1) }}">Première page</a>
            <a href="{{ url_for('visualisation', page=page-1) }}">Page précédente</a>
        {% endif %}

        {% if page < nombre_pages %}
            <a href="{{ url_for('visualisation', page=page+1) }}">Page suivante</a>
            <a href="{{ url_for('visualisation', page=nombre_pages) }}">Dernière page</a>
        {% endif %}
    </div>
</body>
</html>
